{% include 'student_welcome.html' %}
{% load static %}
{% block student %}
<table class="table">
<tr>
    <th>Course number</th>
    <th>Course Name</th>
    <th>Delete</th>
</tr>
    {% for x in course %}
    {% for y in data %}
        {% if x.cid == y.cid %}
<tr>
    <th>{{ x.cid }}</th>
    <th>{{ x.course_name }}</th>
    <th><a href="{% url 'delete_course' %}?del={{ y.cid }}&sid ={{ sid }}"><img src="{% static 'images/delete.jpg' %}" width="30px" height="30px"></a> </th>
</tr>
    {% endif %}
    {% endfor %}
    {% endfor %}
</table>

{% endblock %}