{% include 'student_welcome.html' %}
{% block student %}
{% if not data %}
<h4>No Courses are entrolled</h4>
    {% else %}
<table class="table">
<tr>
    <th>Course number</th>
    <th>Course Name</th>
    <th>Faculty Name</th>
    <th>Starting Date</th>
    <th>Course Time</th>
    <th>Fee</th>
</tr>
{% for x in data %}
<tr>
    <th>{{ x.cid }}</th>
    <th>{{ x.course_name }}</th>
    <th>{{ x.faculty_name }}</th>
    <th>{{ x.starting_date }}</th>
    <th>{{ x.course_time }}</th>
    <th>{{ x.fee }}</th>
</tr>
 {% endfor %}
</table>
{% endif %}
{% endblock %}